.number
	margin-right 40px
	display none
	flex-direction column
	&__number-link
		font-weight 700
		font-size 18px
		line-height 140%
		color #fff
		text-decoration none

	&__call-back
		font-weight 400
		font-size 13px
		line-height 140%
		color #FFFFFF
		text-align right

@media (min-width: 480px)
	.number
		display flex

@media (min-width: 768px)
	.number
		margin-right 48px

@media (min-width: 1000px)
	.number
		padding 14px 0
		margin-right 0
