.rates-button
	text-align center
	display inline-block
	text-decoration none
	align-self center
	font-family 'Play'
	font-size 16px
	line-height 24px
	color #FFFFFF
	padding 11px 20px
	background-color #B20237
	border-radius 5px
	width 100%
	transition .3s
	&:hover
		background-color #99002E
	&:active
		background-color #800026

@media (min-width: 480px)
	.rates-button
		max-width 200px

@media (min-width: 768px)
	.rates-button
		align-self start

