.footer
	background-color #1E3685
	padding 40px 0 30px 0
	&__content
		background-color #1E3685

	&__secondary
		border-bottom 1px solid rgba(255, 255, 255, 0.2)
		margin-bottom 30px

@media (min-width: 768px)
	.footer
		&__secondary
			display flex
			flex-direction row-reverse
			justify-content space-between
			margin-bottom 20px

@media (min-width: 1000px)
	.footer
		&__secondary
			margin-bottom 37px
