<div block="main-inner">
	<div elem="content">
		<div elem="title-content">
			<h3 elem="text">автономная некоммерческая организация</h3>
			<h1 elem="title">Национальная рейтинговая юридическая система</h1>
		</div>
		<div elem="subtitle-content">
			<div elem="subtitle">
				<img elem="icon" src="img/check-icon.svg" alt="check-icon">
				<span>Подбор адвокатов по&nbsp;специализации</span>
			</div>
			<div elem="subtitle">
				<img elem="icon" src="img/check-icon.svg" alt="check-icon">
				<span>Проверка результатов адвокатов по&nbsp;базам судебных решений</span>
			</div>
		</div>
		{% include 'buttons.html' %}
	</div>
	{% include 'img-content-1.html' %}
</div><!-- main-inner -->
