<div block="main-inner">
	<div elem="content">

		<div elem="header">
			<p elem="text">автономная некоммерческая организация</p>
			<h1 elem="title">Национальная рейтинговая юридическая система</h1>
		</div>

		<div elem="text-d-flex">
			<div elem="text-content">
				<div elem="wrapper">
					<img elem="wrapper-icon" src="img/check-icon.svg" alt="check-icon">
					<p elem="wrapper-text">Подбор адвокатов по&nbsp;специализации</p>
				</div>
				<div elem="wrapper">
					<img elem="wrapper-icon" src="img/check-icon.svg" alt="check-icon">
					<p elem="wrapper-text">Проверка результатов адвокатов по базам судебных решений</p>
				</div>
			</div>
			{% include 'buttons.html' %}
		</div>

		{% include 'img-content-1.html' %}

	</div>
	{% include 'img-content-1-clone.html' %}
</div><!-- main-inner -->
