.choose-lawyer-right
	background-color #0263B2
	padding-top 56px
	padding-bottom 56px

	&__intro-title
		color #fff
		margin 0 0 30px 0

	&__item
		margin 0px 0px 20px 0px

	&__item
		background-color #fff
		border-radius 10px
		padding 20px
		display flex
		flex-wrap wrap
		column-gap 10px
		row-gap 10px
		align-items center

	&__item-icon
		width 100%
		max-width 65px
		max-height 65px
		flex 1 1 21%
		vertical-align top

	&__title
		flex 1 1 74%
		font-size 20px
		line-height 120%
		color #b20237
		margin 0px 0px 0px 0px
		span
			color #000

	&__text
		line-height 140%
		margin 0px 0px 0px 0px

	&__outro
		background-color #fff
		display flex
		padding 20px
		border-radius 10px
		align-items center
		gap 10px

	&__outro-icon
		flex 0 0 auto

	&__outro-text
		font-weight 700
		line-height 120%
		color #1E3685
		margin 0

@media (min-width: 360px)
	.choose-lawyer-right

		&__item-icon
			flex 1 1 25%

		&__title
			flex 1 1 70%

		&__outro-text
			font-size 18px

@media (min-width: 768px)
	.choose-lawyer-right
		&__item
			padding 24px 30px
			display block
			position relative
			margin 0px 0px 24px 0px

		&__item-icon
			position absolute
			top 50%
			transform translateY(-50%)
			max-width 90px
			max-height 90px

		&__title,
		&__text
			padding-left 114px
			line-height 150%

		&__title
			margin-bottom 10px

		&__icon
			width 90px
			height 90px

		&__outro-text
			line-height 150%

@media (min-width: 1200px)
	.choose-lawyer-right
		&__intro-title
			margin 0 0 40px 0

.full-blue
	box-shadow 0 0 0 100vmax #0263B2
	clip-path inset(0 -100vmax)
