.buttons
	display flex
	flex-direction column
	width 100%
	align-items center
	margin-bottom 20px

@media (min-width: 768px)
	.buttons
		align-items flex-start
		margin-bottom 0

@media (min-width: 1000px)
	.buttons
		flex-direction row
